<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
    <servlet>
        <description>Web Service WSEstadoTramiteUAECDSoapHttpPort</description>
        <display-name>Web Service WSEstadoTramiteUAECDSoapHttpPort</display-name>
        <servlet-name>WSEstadoTramiteUAECDSoapHttpPort</servlet-name>
        <servlet-class>co.gov.uaecd.siic.vista.Facade</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSEstadoTramiteUAECDSoapHttpPort</servlet-name>
        <url-pattern>WSEstadoTramiteUAECDSoapHttpPort</url-pattern>
    </servlet-mapping>
</web-app>
